:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    --white: #FFFFFF;   
}
ul {
    list-style: none;
}
/* боди */
.page {
    background-color:var(--white);
    color: var(--primary-color);
}
/* хедер */
.logo {
    color: var(--accent-color);
}
.logo-dot {
    color: #000000;
}
.primary {
    color: var(--primary-color);
}
.accent {
    color: var(--accent-color);
}
/* .secondary {
    color: var(--secondary-color);
} */
.contact-nav a {
    color: var(--secondary-color);
}

.title {
    color: var(--primary-color); 
}